In [1]:
import pandas as pd
import numpy as np

Importing the neccessary Library Files

In [2]:
df = pd.read_csv('Utility_val.csv')

df.drop(df.columns[[0]], axis=1,inplace=True)

Importing the Data Set created earlier using the utility genreating function Dropping the column containing the Index as Index is re-made when the dataset is attached to the dataframe,hence avoiding duplication.

In [3]:
s = (1000,1000)

v = np.zeros(s)

val = pd.DataFrame(data=v)

In [4]:
df.head()

,0,1,2,3,4,5,6,7,8,9,...,990,991,992,993,994,995,996,997,998,999
0,0.500000,0.500000,0.550000,0.525000,0.550000,0.483333,0.475000,0.558333,0.541667,0.525000,...,0.516667,0.550000,0.458333,0.558333,0.475000,0.566667,0.600000,0.466667,0.516667,0.0
1,0.450000,0.500000,0.433333,0.491667,0.500000,0.550000,0.458333,0.458333,0.475000,0.491667,...,0.450000,0.450000,0.541667,0.458333,0.441667,0.450000,0.450000,0.483333,0.450000,0.0
2,0.550000,0.550000,0.500000,0.525000,0.500000,0.566667,0.575000,0.491667,0.508333,0.525000,...,0.533333,0.500000,0.591667,0.491667,0.575000,0.483333,0.450000,0.583333,0.533333,0.0
3,0.458333,0.508333,0.441667,0.500000,0.508333,0.558333,0.466667,0.466667,0.483333,0.500000,...,0.458333,0.458333,0.550000,0.466667,0.450000,0.458333,0.458333,0.491667,0.458333,0.0
4,0.450000,0.500000,0.433333,0.491667,0.500000,0.550000,0.458333,0.458333,0.475000,0.491667,...,0.450000,0.450000,0.541667,0.458333,0.441667,0.450000,0.450000,0.483333,0.450000,0.0

In [5]:
def func(threshold_val):
    for i in df.index:
        count = count + 1
        for j in df.index:
      
            if(df.iloc[i,j] >=threshold_val):
                forumla = 1
                val.loc[i,j] = forumla
                
                        
            elif(df.iloc[i,j]<threshold_val):
                
                forumla = 0
                val.loc[i,j] = forumla

Making a Function to put value as 1 when the compatibility value is greater than threshold value else 0

In [8]:
Th_val = 0.533                  #Setting Threshold value
count = 0;

import time
start_time = time.time()

func(Th_val)

val.to_csv('Binarized_Utility_val.csv')

end_time = time.time()
print("--- %s seconds ---" % ( end_time - start_time))

--- 865.157999992 seconds ---

Calculating and storing the Binarized Values in Binarized_Utility_val.csv

In [9]:
val.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Columns: 1000 entries, 0 to 999
dtypes: float64(1000)
memory usage: 7.6 MB

In [10]:
val.describe()

,0,1,2,3,4,5,6,7,8,9,...,990,991,992,993,994,995,996,997,998,999
count,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,...,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.0
mean,0.380000,0.403000,0.419000,0.435000,0.442000,0.498000,0.271000,0.401000,0.431000,0.435000,...,0.414000,0.419000,0.383000,0.401000,0.271000,0.388000,0.368000,0.242000,0.414000,0.0
std,0.485629,0.490746,0.493642,0.496005,0.496873,0.500246,0.444699,0.490346,0.495464,0.496005,...,0.492795,0.493642,0.486362,0.490346,0.444699,0.487538,0.482503,0.428509,0.492795,0.0
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0
25%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0
50%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0
75%,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,0.000000,1.000000,0.0
max,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,0.0