In [1]:
import pandas as pd
import numpy as np

Importing the neccessary Library Files

In [3]:
df2 = pd.read_csv('Binarized_Utility_val.csv')

df2.drop(df2.columns[[0]], axis=1,inplace=True)

Importing the Data Set created earlier using the utility genreating function Dropping the column containing the Index as Index is re-made when the dataset is attached to the dataframe,hence avoiding duplication.

In [4]:
df2.head()

,0,1,2,3,4,5,6,7,8,9,...,990,991,992,993,994,995,996,997,998,999
0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,...,0.0,1.0,0.0,1.0,0.0,1.0,1.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,1.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,...,1.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0
3,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [5]:
df = pd.read_csv('Research_dataset.csv')

df.drop(df.columns[[0]], axis=1,inplace=True)

Importing the original Attribute values from the dataset

In [6]:
df.head()

,Active,Adaptibility,Ambition,Decisivness,Dominance,Emotional,Faith,Task
0,5,9,4,3,9,4,3,5
1,6,7,3,5,5,2,4,4
2,4,9,1,4,9,3,8,4
3,5,4,1,8,3,8,3,4
4,5,1,1,6,3,9,6,3

In [14]:
i1 = []
i2 = []
i3 = []
i4 = []
i5 = []
i6 = []
i7 = []
i8 = []
i9 = []
i10 = []
i11 = []
i12 = []
Op = []

Initializing the diffrent lists which will store all the variables for creating the dataset for Multilayer Perceptron Network.

In [15]:
def func():
    for i in df.index:
        
        for j in df.index:
        
            x14 = y11 = df.iloc[i,1]      #Adaptibility
            x11 = y12 = df.iloc[i,2]      #Ambition
            x12 = y13 = df.iloc[i,3]      #Desicveness
            x13 = y14 = df.iloc[i,4]      #Dominance
            x15 = y15 = df.iloc[i,5]      #Emotional
            x16 = y16 = df.iloc[i,6]      #faith
        
            x24 = y21 = df.iloc[j,1]      #Adaptibility
            x21 = y22 = df.iloc[j,2]      #Ambition
            x22 = y23 = df.iloc[j,3]      #Desicveness
            x23 = y24 = df.iloc[j,4]      #Dominance
            x25 = y25 = df.iloc[j,5]      #Emotional
            x26 = y26 = df.iloc[j,6]      #faith
            
            x_val = df2.iloc[i,j]
            
            
            i1.append(x11)
            i2.append(x12)
            i3.append(x13)
            i4.append(x14)
            i5.append(x15)
            i6.append(x16)
            i7.append(x21)
            i8.append(x22)
            i9.append(x23)
            i10.append(x24)
            i11.append(x25)
            i12.append(x26)
            Op.append(x_val)

In [16]:
import time
start_time = time.time()

func()

NN_val_data = {'i1': i1,'i2': i2,'i3': i3,'i4': i4,'i5': i5,'i6': i6,'i7': i7,'i8': i8,'i9': i9,'i10': i10,'i11': i11,'i12': i12,'Op': Op}

NN_val = pd.DataFrame(data=NN_val_data)

NN_val.to_csv('Neural_Network_data.csv')

end_time = time.time()
print("--- %s seconds ---" % ( end_time - start_time))

--- 4062.6099999 seconds ---

In [17]:
NN_val.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 998001 entries, 0 to 998000
Data columns (total 13 columns):
Op     998001 non-null float64
i1     998001 non-null int64
i10    998001 non-null int64
i11    998001 non-null int64
i12    998001 non-null int64
i2     998001 non-null int64
i3     998001 non-null int64
i4     998001 non-null int64
i5     998001 non-null int64
i6     998001 non-null int64
i7     998001 non-null int64
i8     998001 non-null int64
i9     998001 non-null int64
dtypes: float64(1), int64(12)
memory usage: 99.0 MB

In [18]:
NN_val.describe()

,Op,i1,i10,i11,i12,i2,i3,i4,i5,i6,i7,i8,i9
count,998001.000000,998001.000000,998001.000000,998001.000000,998001.000000,998001.000000,998001.000000,998001.000000,998001.000000,998001.000000,998001.000000,998001.000000,998001.000000
mean,0.366103,4.935936,4.962963,5.010010,5.077077,5.089089,5.042042,4.962963,5.010010,5.077077,4.935936,5.089089,5.042042
std,0.481738,2.584296,2.566754,2.568366,2.585683,2.516229,2.565311,2.566754,2.568366,2.585683,2.584296,2.516229,2.565311
min,0.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
25%,0.000000,3.000000,3.000000,3.000000,3.000000,3.000000,3.000000,3.000000,3.000000,3.000000,3.000000,3.000000,3.000000
50%,0.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000
75%,1.000000,7.000000,7.000000,7.000000,7.000000,7.000000,7.000000,7.000000,7.000000,7.000000,7.000000,7.000000,7.000000
max,1.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000