In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('Utility_val.csv')

df.drop(df.columns[[0]], axis=1,inplace=True)

In [3]:
s = (1000,1000)

v = np.zeros(s)

val = pd.DataFrame(data=v)

In [4]:
df.head()

,0,1,2,3,4,5,6,7,8,9,...,990,991,992,993,994,995,996,997,998,999
0,11.661904,10.723805,5.291503,6.164414,7.874008,5.830952,9.327379,9.380832,8.944272,10.908712,...,7.937254,7.000000,9.539392,5.477226,9.110434,10.049876,8.944272,7.681146,6.000000,0.0
1,10.723805,13.711309,11.180340,6.557439,7.000000,9.110434,11.489125,9.433981,5.916080,11.575837,...,7.874008,10.954451,7.615773,9.539392,8.602325,9.591663,7.280110,11.135529,7.681146,0.0
2,5.291503,11.180340,14.696938,8.717798,5.830952,12.328828,10.344080,10.770330,8.366600,7.549834,...,8.544004,13.076697,7.549834,11.747340,9.848858,7.937254,9.591663,11.445523,11.489125,0.0
3,6.164414,6.557439,8.717798,6.928203,4.242641,7.071068,7.141428,8.602325,9.165151,6.244998,...,7.416198,8.185353,9.000000,5.656854,9.110434,5.744563,10.198039,4.795832,7.071068,0.0
4,7.874008,7.000000,5.830952,4.242641,9.380832,5.291503,9.110434,4.000000,10.000000,7.810250,...,7.416198,4.795832,8.660254,7.745967,7.280110,6.708204,7.348469,9.643651,6.782330,0.0

In [8]:
thresholf_val=3.606;


def func(threshold_val,count):
    for i in df.index:
        count = count + 1
        for j in df.index:
      
            if(df.iloc[i,j] <threshold_val):
                forumla = 1
                val.loc[i,j] = forumla
                
                        
            elif(df.iloc[i,j]>=threshold_val):
                
                forumla = 0
                val.loc[i,j] = forumla

In [9]:
Th_val = 3.606                 #Setting Threshold value
count = 0;

import time
start_time = time.time()

func(Th_val,count)

val.to_csv('Binarized_Utility_val.csv')

end_time = time.time()
print("--- %s seconds ---" % ( end_time - start_time))

--- 1040.95500016 seconds ---

In [10]:
val.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Columns: 1000 entries, 0 to 999
dtypes: float64(1000)
memory usage: 7.6 MB

In [11]:
val.describe()

,0,1,2,3,4,5,6,7,8,9,...,990,991,992,993,994,995,996,997,998,999
count,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,...,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.00000,1000.0
mean,0.010000,0.010000,0.009000,0.015000,0.018000,0.014000,0.010000,0.019000,0.007000,0.014000,...,0.022000,0.014000,0.004000,0.014000,0.010000,0.014000,0.008000,0.009000,0.01200,1.0
std,0.099549,0.099549,0.094488,0.121613,0.133018,0.117549,0.099549,0.136593,0.083414,0.117549,...,0.146757,0.117549,0.063151,0.117549,0.099549,0.117549,0.089129,0.094488,0.10894,0.0
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,1.0
25%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,1.0
50%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,1.0
75%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,1.0
max,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.00000,1.0